%% [markdown]

In [2]:
# This is Ahmets script for looking at the files
# %%
"""File analyst"""
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from use_me_linear import *
# I make the data local on my machine will change it soon
plt.rc_context({'axes.edgecolor': 'orange',
                'xtick.color': 'red', 'ytick.color': 'green',
                'figure.facecolor': 'white'})
# import matplotlib.ticker as ticker
plt.figure(num=None, figsize=(8, 6), dpi=80, facecolor='w', edgecolor='k')
plt.rcParams['figure.figsize'] = 11, 5
plt.rcParams['lines.linewidth'] = 1
plt.rcParams['lines.markersize'] = 1

In [3]:
DIR = os.getcwd()
# DIR = os.path.dirname(os.path.realpath(__file__))
DF1 = pd.read_csv(DIR + "/DATA/Financial_Info_SG_Firms_Combined.csv")
# %%
# remove all nans
DF1.dropna(axis=0, how="all", inplace=True)
DF1.dropna(axis=1, how="all", inplace=True)
list(DF1)
UNI = DF1.nunique(dropna=True)
UNI[UNI<3]
# %%

/Users/ashatip/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (2,3,26,56,57,59,93,96,97,107,175,176,211,343,347,801) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

ADR CUSIP 2                                                                                 1
Cusip (Security)                                                                            1
Entity Type (Key Item)                                                                      1
Indicator - Adr                                                                             1
Indicator - Currently A Mult-Share Company (Key Item)                                       1
Indicator - Limited Data Set Company (Key Item)                                             1
Indicator - Non-Traded Company/Security                                                     1
Indicator - Reuters Data Company                                                            1
Latest Reuters  Data Year                                                                   1
Parent Auditor 1 - Affiliate 2                                                              1
Parent Auditor 4 - Affiliate 1                                                              1
Year Of Fast Update (Key Item)                                                              1
Deferred Tax Liability In Untaxed Reserves                                                  1
Comprehensive Income Unearned Compensation                                                  1
ESOP Guarantees Preferred Issued                                                            1
EPRA/Recurring Net Income                                                                   1
Equity In Untaxed Reserves                                                                  2
Foreign Loans                                                                               1
Foreign Office Deposits                                                                     1
Federal Funds (Liability)                                                                   2
Foreign Office Deposits % Total Deposits                                                    1
Foreign Office Deposits % Total Deposits 5 Year Average                                     1
Federal Agency Securities Available For Sale                                                1
Geographic Segment 10 Operating Income                                                      1
Increase/Decrease In Federal Home Loan Advances                                             1
Indicator Restated Data Exists                                                              1
Indicator - Period Sourced from Reuters Content                                             1
Interest/Dividends On Securities Available For Sale Tax Exempt                              1
Healthcare Data Expected Long-Term Return Rate On Pension Assets                            1
Healthcare Other Adjustments To Funded Status For Net Pension/Post Retirement Assets/Lia    2
Loss Adjustment Expense                                                                     1
Investment Tax Credits Cash Flow                                                            1
Monetary Correction                                                                         1
Non-Redeemable Preferred Stock                                                              1
Number Of Months Earnings Per Share First Quarter                                           2
Number Of Months Earnings Per Share Second Quarter                                          2
Number Of Months Earnings Per Share Fourth Quarter                                          1
Number of Stores Opened Domestic                                                            2
Number of Stores Opened International                                                       1
Number of Stores Closed Domestic                                                            1
Number of Stores Closed International                                                       1
Policyholders Surplus                                                                       1
Policyholders Equity                                                                        1
Preferred Stock Issued For ESOP                                                             1
Square Footage Domestic                                                                     2
Square Footage International                                                                2
Weighted Cost Of Debt                                                                       2
dtype: int64

In [8]:
DF2 = DF1[['Year', "Earnings Per Share",'Worldscope Permanent ID']].dropna()
DF2

       Year  Earnings Per Share Worldscope Permanent ID
8693   1980              19.132               C392W1280
8699   1980               1.062               C344E1820
8704   1980               0.182               C344E1690
8846   1980               0.080               C702H1620
8888   1980               0.040               C702W3690
...     ...                 ...                     ...
53269  2015               0.159               C458AD970
53270  2015              -0.137               C70258270
53273  2015               0.034               C702CW520
53274  2015              -0.626               C70257880
53276  2015               0.072               C70282760

[17454 rows x 3 columns]

In [9]:
add_interactions(DF2, 'Worldscope Permanent ID')

,Year,Earnings Per Share,Worldscope Permanent ID,Year_X_Year,Year_X_Earnings Per Share,Earnings Per Share_X_Earnings Per Share
8693,1980,19.132,C392W1280,3920400,37881.360,366.033424
8699,1980,1.062,C344E1820,3920400,2102.760,1.127844
8704,1980,0.182,C344E1690,3920400,360.360,0.033124
8846,1980,0.080,C702H1620,3920400,158.400,0.006400
8888,1980,0.040,C702W3690,3920400,79.200,0.001600
...,...,...,...,...,...,...
53269,2015,0.159,C458AD970,4060225,320.385,0.025281
53270,2015,-0.137,C70258270,4060225,-276.055,0.018769
53273,2015,0.034,C702CW520,4060225,68.510,0.001156
53274,2015,-0.626,C70257880,4060225,-1261.390,0.391876
53276,2015,0.072,C70282760,4060225,145.080,0.005184

%%

In [ ]:
# this is for creating the defintion table
DEF1 = pd.read_excel(DIR + "/DATA/Financial_Info_SG_Firms.xlsx",
                     sheet_name="DEFINITION_WORLDSCOPE_STATIC", head)
DEF1.set_index("Name", inplace=True)
DEF2 = pd.read_excel(DIR + "/DATA/Financial_Info_SG_Firms.xlsx",
                     sheet_name="DEFINITION_WORLDSCOPE_TS")
DEF2.set_index("Name", inplace=True)
print(DEF2.head())

In [ ]:
print(list(DEF1))
print(list(DEF2))

In [ ]:
DEF = DEF1.append(DEF2)
# look it up like this:
print(DEF.loc["ADR CUSIP 1"])

%%

In [ ]:
def view_df(df_v):
    """Function for viewing the columns of the data frame and deciding to keep
    or remove"""
    # remove na and duplicate rows
    df_v.dropna(axis=0, how="all", inplace=True)
    df_v.dropna(axis=1, how="all", inplace=True)
    # not sure but, I think duplicate data is useless
    df_v.drop_duplicates(inplace=True, ignore_index=True)
    df_v = df_v.loc[:, ~df_v.columns.duplicated()]


    print(df_v.shape)
    id_v = []
    keep = []
    remove = []
    location = []
    time = []
    for i in list(df_v):
        print("*****")
        print("COL: ", i)
        i_type = df_v[i].dtypes
        print("Type", i_type)
        print("% of NA", df_v[i].isna().sum()*100/len(df_v[i]))
        print("number of unique values: ", df_v[i].nunique())
        num_print = 5
        if num_print > df_v[i].nunique():
            num_print = df_v[i].nunique()
        print("some example values", df_v[i].unique()[:num_print])
        if np.issubdtype(df_v[i].dtype, np.number):
            plt.hist(df_v[i])
            plt.show()
        sub = input("Is the column a: \n l for location \n k for keep \n r fo"
                    + "remove \n i for id \n t for time")
        if sub[0] == "l":
            location.append(i)
        elif sub[0] == "k":
            keep.append(i)
        elif sub[0] == "r":
            remove.append(i)
        elif sub[0] == "i":
            id_v.append(i)
        elif sub[0] == "t":
            time.append(i)
        print("*****")
    return keep, id_v, time, location, remove

In [ ]:
# %%
KEEP, ID_V, TIME, LOCATION, REMOVE = view_df(DF1)